<p id="notice"><%= notice %></p>
<h1>CareSourcery</h1>
<p>A home for retired adventurers.</p>

<table>
  <tr>
    <th>Total Rooms</th>
    <th>Total Residents</th>
    <th>Vacant Rooms</th>
  </tr>
  <tr>
    <td><%= @total_rooms %></td>
    <td><%= @total_residents %></td>
    <td><%= @available_room_count %></td>
  </tr>
</table>

<p>
  <%= link_to 'Add Room', new_room_path, class: 'button' %>
  <%= link_to 'Add Resident', new_resident_path, class: 'button' %>
</p>
