<%= form_with(model: resident, local: true) do |form| %>
  <% if resident.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(resident.errors.count, "error") %> prohibited this resident from being saved:</h2>

      <ul>
      <% resident.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :first_name %>
    <%= form.text_field :first_name, id: :resident_first_name %>
  </div>

  <div class="field">
    <%= form.label :last_name %>
    <%= form.text_field :last_name, id: :resident_last_name %>
  </div>

  <div class="field">
  <select name="resident[room_id]">
      <% Room.all.each do |room| %>
          <option value="<%= room.id %>"><%= room.door_number %></option>
      <% end %>
    </select>
  </div>
  
  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
