<p id="notice"><%= notice %></p>

<h1>Residents</h1>

<% if @residents.any? %>
  <table>
    <thead>
      <tr>
        <th>First name</th>
        <th>Last name</th>
        <th>Room Number</th>
        <th colspan="3"></th>
      </tr>
    </thead>

    <tbody>
      <% @residents.each do |resident| %>
        <tr>
          <td><%= resident.first_name %></td>
          <td><%= resident.last_name %></td>
          <td><%= link_to resident.room.door_number, resident.room %></td>
          <td><%= link_to 'Show', resident %></td>
          <td><%= link_to 'Edit', edit_resident_path(resident) %></td>
          <td><%= link_to 'Delete', resident, method: :delete, data: { confirm: 'Are you sure?' } %></td>
        </tr>
      <% end %>
    </tbody>
  </table>
<% else %>
  <p>There are no residents yet.</p>
<% end %>

<br>

<%= link_to 'New Resident', new_resident_path, class: 'button' %>
