<p id="notice"><%= notice %></p>

<p>
  <strong>First name:</strong>
  <%= @resident.first_name %>
</p>

<p>
  <strong>Last name:</strong>
  <%= @resident.last_name %>
</p>

<p>
  <strong>Room Door Number:</strong>
  <%= link_to @resident.room.door_number, @resident.room %>
</p>

<%= link_to 'Edit', edit_resident_path(@resident), class: 'button' %>
<%= link_to 'Delete', @resident, method: :delete, data: { confirm: 'Are you sure?' }, class: 'button' %>
