<p id="notice"><%= notice %></p>

<h1>Rooms</h1>

<% if @rooms.any? %>
  <table>
    <thead>
      <tr>
        <th>Door number</th>
        <th>Occupants</th>
        <th colspan="3"></th>
      </tr>
    </thead>

    <tbody>
      <% @rooms.each do |room| %>
        <tr>
          <td><%= room.door_number %></td>
          <td><%= room.residents.count %></td>
          <td><%= link_to 'Show', room %></td>
          <td><%= link_to 'Edit', edit_room_path(room) %></td>
          <td><%= link_to 'Delete', room, method: :delete, data: { confirm: 'Are you sure?' } %></td>
        </tr>
      <% end %>
    </tbody>
  </table>
<% else %>
  <p>There are no rooms yet.</p>
<% end %>

<br>

<%= link_to 'New Room', new_room_path, class: 'button' %>
