<p id="notice"><%= notice %></p>

<p>
  <strong>Door number:</strong>
  <%= @room.door_number %>
</p>

<% if @room.residents.any? %>
  <p><strong>Current Residents:</strong></p>
  <ul>
    <% @room.residents.each do |resident| %>
      <li><%= link_to resident.full_name, resident %></li>
    <% end %>
  </ul>
<% end %>

<%= link_to 'Edit', edit_room_path(@room), class: 'button' %>
<%= link_to 'Delete', @room, method: :delete, data: { confirm: 'Are you sure?' }, class: 'button' %>
