/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

ul.menu {
  list-style: none;	
  margin: 0 0 2em;
  padding: 0;
}

ul.menu li {
  display: inline;
  margin-right: 10px;
}

ul.menu li.logout {
  margin-right: 40px;
}

body {
  margin: 25px;
}

#error_explanation {
  h2 {
    font-size: 22px;
    color: rgb(211, 108, 108);
  }

  ul li {
    margin-left: 12px;
    font-size: 16px;
    list-style: square;
  }
}

#notice {
  color: green;
}

.field_with_errors {
  padding: 2px;
  color:rgb(211, 108, 108);
}
