<!DOCTYPE html>
<html>
  <head>
    <title>CareSourcery</title>
    <%= csrf_meta_tags %>

    <link rel="stylesheet" href="//fonts.googleapis.com/css?family=Roboto:300,300italic,700,700italic">
    <link rel="stylesheet" href="//cdn.rawgit.com/necolas/normalize.css/master/normalize.css">
    <link rel="stylesheet" href="//cdn.rawgit.com/milligram/milligram/master/dist/milligram.min.css">
    
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <ul class="menu">
      <%= render 'devise/menu/login_items' %>
      <% if user_signed_in? %>
      <li> <%= link_to('Home', '/')  %> </li>
      <li> <%= link_to('Rooms', rooms_path)  %> </li>
      <li> <%= link_to('Residents', residents_path)  %>  </li>
      <% end %>
    </ul>
    <%= yield %>
  </body>
</html>
